{% extends 'base.html'%}
{% block title%}
{% load static %}
About Us
{% endblock %}
{% block content %}

<div class="fs-2 text-center my-2"><h1>About <b class="text-ocolor">US
    <i class="fa-solid fa-circle-info fa-spin"></i>
</b> </h1></div></br>
<hr>



<div class="container-fluid newSection my-4">
   <p class=" fw-bold" style="text:justify; text-align:center; font-size:25px;">
            Welcome To  <b class="text-info">The Chronic Cart</b>, Just Below Explains our Website and
            the Growing growth of this field also.
        </p> <p class="sectionContent">
        If you would like to experience the best of online shopping for men, women and kids in India, you are at the right place.  <b class="text-info">The Chronic Cart</b>, is the ultimate destination for fashion and lifestyle, being host to a wide array of merchandise including clothing, footwear, accessories, jewellery, personal care products and more.
        It is time to redefine your style statement with our treasure-trove of trendy items.
        Our online store brings you the latest in designer products straight out of fashion houses. You can shop online at The Chronic cart from the comfort of your home and get your favourites delivered right to your doorstep.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-4">
                <img src="{% static 'images/25.png' %}" style="width:350px; heigh:350px;">
            </div>
            <div class="col-sm-6 mt-4">
                <h4 class="divHeading">BEST ONLINE SHOPPING SITE IN INDIA FOR FASHION</h4>
                 Welcome To  <b class="text-info">The Chronic Cart</b>, Just Below Explains our Website and
            the Growing growth of this field also.
                <p>Online shopping for women at  <b class="text-info">The Chronic Cart</b>, is a mood-elevating experience. Look hip and stay
                    comfortable with chinos and printed shorts this summer. Look hot on your date dressed in
                    a little black dress, or opt for red dresses for a sassy vibe. Striped dresses and T-shirts
                    represent the classic spirit of nautical fashion. Choose your favourites from among Bardot,
                    off-shoulder, shirt-style, blouson, embroidered and peplum tops, to name a few. Team them up with
                    skinny-fit jeans, skirts or palazzos. Kurtis and jeans make the perfect fusion-wear combination for
                    the cool urbanite. Our grand sarees and lehenga-choli selections are perfect to make an impression
                    at big social events such as weddings. Our salwar-kameez sets, kurtas and Patiala suits make comfortable
                    options for regular wear.</p>

            </div>
        </div>
    </div>
</div>


<div class="  mx-5 mt-5">
        <span class="fs-3 fw-bold">
            We <b class="text-info">Believe</b></span>
        <div style="height:3px;width:100px;background:black;border-sizing:border-box"></div>
        <p class=" my-2 mb-5">
        We Believe in making Fashion should Accessible and Affordable to every individual ,
            With ensuring Quality and security of the product .
    </p>
    </div>
</center>
    <div class="row">
    <div class=" col-sm-2"></div>
        <div class=" col-sm-8 "><span class="fs-3">Our Vision</span>
    <div class="ms-3 my-2" style="height:3px;width:90px;background:black;border-sizing:border-box"></div>
    <p>Our Vision is to be a leading Online Shopping Platform in E-commerce and
        progress in our current position in Online Market. We know that Customer's
        satisfaction and interaction is our growth, so we commit our customers as our priorities to help in achieving
        their Best quality products at Effective and affordable rates. We believe in work with the customer
        perspective and also with accuracy .</p></div>
</div>
    <div class="row">
    <div class=" col-sm-2"></div>
        <div class=" col-sm-8 "><span class="fs-3">Our Mission</span>
    <div class="ms-3 my-2" style="height:3px;width:90px;background:black;border-sizing:border-box"></div>
    <p>Our mission is to enhancing the best offers and deals  for our customers with creative
        Design and Development to deliver market-defining high-quality Product available to your
        doorstep that create value and reliable competitive advantage for our clients around the world.</p></div>
</div>
    <div class="row">
    <div class=" col-sm-2"></div>
        <div class=" col-sm-8 "><span class="fs-3">Our Work Scope</span>
    <div class="ms-3 my-2" style="height:3px;width:90px;background:black;border-sizing:border-box"></div>
    <p>Our mission is to deliver orders (packages) with quality and services at reasonable prices. For us customer
        satisfaction is given top place. We are very friendly in our dealings to the
        customers and it helps us retain existing clients and expand customer circle.
        We always try to improve the quality of our products by exploring innovative ideas.</p></div>
</div>



<!--<div class="bg-info">-->
<!--<div class="text-center"><img src="{% static 'images/24.png' %}"></div>-->
<!--<div class="text-center"><img src="{% static 'images/25.png' %}"></div-->
<!--&gt;<div class="text-center"><img src="{% static 'images/26.png' %}"></div>-->
<!--<div class="text-center"><img src="{% static 'images/28.png' %}"></div>-->
</div>

{% endblock %}